@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply antialiased overflow-x-hidden; }
}

input, button, select {
  -webkit-tap-highlight-color: transparent;
  @apply outline-none;
}

/* Custom Smooth SweetAlert */
.swal2-popup {
  border-radius: 2.5rem !important;
  background: #1E293B !important;
  color: #fff !important;
  padding: 2rem !important;
}
.swal2-styled.swal2-confirm {
  background: #2563EB !important;
  border-radius: 1.5rem !important;
  padding: 1rem 2rem !important;
  font-weight: bold !important;
}
